src/ResourceManagement/ApiManagement/ApiManagement.Tests/Resources/WADLYahooModified.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:tns="urn:yahoo:yn" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ya="urn:yahoo:api" xmlns:yn="urn:yahoo:yn" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
  <doc title="Yahoo News Search">Yahoo News Search API</doc>
  <grammars>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:yahoo:api" targetNamespace="urn:yahoo:api" elementFormDefault="qualified">
         <xs:element name="Error" type="xs:string" />
      </xs:schema>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:yahoo:yn" targetNamespace="urn:yahoo:yn" elementFormDefault="qualified">
         <xs:element name="ResultSet">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Result" type="ResultType" minOccurs="0" maxOccurs="50" />
               </xs:sequence>
               <xs:attribute name="totalResultsAvailable" type="xs:integer" />
               <xs:attribute name="totalResultsReturned" type="xs:integer" />
               <xs:attribute name="firstResultPosition" type="xs:integer" />
            </xs:complexType>
         </xs:element>
         <xs:complexType name="ResultType">
            <xs:sequence>
               <xs:element name="Title" type="xs:string" />
               <xs:element name="Summary" type="xs:string" />
               <xs:element name="Url" type="xs:string" />
               <xs:element name="ClickUrl" type="xs:string" />
               <xs:element name="NewsSource" type="xs:string" />
               <xs:element name="NewsSourceUrl" type="xs:string" />
               <xs:element name="Language" type="xs:string" />
               <xs:element name="PublishDate" type="xs:string" />
               <xs:element name="ModificationDate" type="xs:string" minOccurs="0" />
               <xs:element name="Thumbnail" type="ImageType" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ImageType">
            <xs:sequence>
               <xs:element name="Url" type="xs:string" />
               <xs:element name="Height" type="xs:integer" minOccurs="0" />
               <xs:element name="Width" type="xs:integer" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </grammars>
   <resources base="http://api.search.yahoo.com/NewsSearchService/V2/">
      <resource path="newsSearch?willbeIgnored={willbeIgnored}">
         <method name="GET" id="search">
            <request>
               <param name="appid" type="xsd:string" style="query" required="true" />
               <param name="query" type="xsd:string" style="query" required="true" />
               <param name="type" style="query" default="all">
                  <option value="all" />
                  <option value="any" />
                  <option value="phrase" />
               </param>
               <param name="results" style="query" type="xsd:int" default="" />
               <param name="start" style="query" type="xsd:int" default="1" />
               <param name="sort" style="query" default="rank">
                  <option value="rank" />
                  <option value="date" />
               </param>
               <param name="language" style="query" type="xsd:string" />
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="yn:ResultSet" />
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="ya:Error" />
            </response>
         </method>
      </resource>
   </resources>
</application>